@font-face {
    font-family: 'Core Sans';
    src: url('/fonts/core/CoreSansE-55Medium.woff2') format('woff2'),
        url('/fonts/core/CoreSansE-55Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans';
    src: url('/fonts/core/CoreSansE-45Regular.woff2') format('woff2'),
        url('/fonts/core/CoreSansE-45Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans';
    src: url('/fonts/core/CoreSansE-65Bold.woff2') format('woff2'),
        url('/fonts/core/CoreSansE-65Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans';
    src: url('/fonts/core/CoreSansE-95Black.woff2') format('woff2'),
        url('/fonts/core/CoreSansE-95Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans';
    src: url('/fonts/core/CoreSansE-35Light.woff2') format('woff2'),
        url('/fonts/core/CoreSansE-35Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Besom';
    src: url('/fonts/Besom.woff2') format('woff2'),
        url('/fonts/Besom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
