.a-special__remember {
}
.a-remember {
  display: flex;
  align-items: flex-start;
  padding-bottom: 148px;

  &::before {
    content: "";
    transform: translateY(-25%);
    width: 130px;
    height: 143px;
    margin-right: 42px;
    background-image: url("../../img/rem.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.a-remember__title {
  margin: 0;
  position: relative;
  max-width: 173px;
  color: #fefefe;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.a-remember__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
}
.a-remember__item {
  margin-right: 93px;
  
  &:last-child {
    margin-right: 0;
  }
}
.a-remember-item {
  max-width: 344px;
}
.a-remember-item--second {
 max-width: 222px; 
}
.a-remember-item__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}
.a-remember-item__text {
  margin: 0;
  color: #ffffff;
}
@media only screen and (max-width:950px) {
  .a-remember__list {
    flex-direction: column;
  }
  .a-remember__item {
    margin-right: 0px;
    margin-bottom: 44px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  .a-remember-item {
    max-width: 285px;
  }
  .a-remember-item--second {
   max-width: 285px; 
  }
}
@media only screen and (max-width:700px) {
  .a-remember {
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
      display: none;
    }
  }
  .a-remember__title {
    max-width: 450px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    
    &::after {
      content: "";
      width: 106px;
      height: 116px;
      margin-right: 42px;
      background-image: url("../../img/rem.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .a-remember__list {
    margin-left: 0;
  }
}