.a-special {
  background-image: url("../../img/special-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1920px 985px;
  padding-top: 196px;
  padding-bottom: 206px;
}
.container {
}
.a-sepicial__container {
  
}


@media only screen and (max-width:750px) {
  .a-special {
    margin-top: 25px;
    background-image: url("../../img/special-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1920px 1388px;
    padding-top: 180px;
    padding-bottom: 155px;
  }
}